@import "../variables.scss";

.calendar {
  color: $dark-grey;
  font-size: 16px;
  header {
    margin-bottom: 1em;
  }
  main {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
.calendar__cell--label {
  opacity: 0.54;
  font-size: small;
  padding: 0.5em;
}
