@import '../mixins.scss';

.date-buttons {
  display: flex;
  height: 100%;
  font-size: 14px;
  & > div {
    flex-basis: 100%;
  }

  &__button-group {
    display: flex;
    padding: 0 12px;
    button {
      @include button-reset;
      padding: 0;
      width: inherit;
      outline: none;
    }
  }

  &__departure,
  &__return {
    flex: 1;
  }

  button.date-buttons__arrow {
    width: 24px;
  }

}
