@mixin circle-with-border {
  content: "";
  border: 2px solid $blue;
  border-radius: 100%;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  margin: auto;
  position: absolute;
  width: 44px;
  z-index: -1;
}

@mixin in-range-base {
  @include circle-with-border;
  background-color: $lighter-blue;
  border: 0;
  border-radius: 0;
}

@mixin button-reset { 
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
  border-radius: 0;
  padding: 1em;
  width: 100%;
  cursor: pointer;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  &[disabled] {
    opacity: 0.26;
    pointer-events: none;
  }
}
