$light-grey: #dadce0;
$dark-grey: #3c4043;
$blue: #4285f4;
$darker-blue: #3367d6;
$darkest-blue: #1967d2;
$lighter-blue: #daedfd;
$lightest-blue: #F4F8FF;

$month-changer-background-color: white;
$cell-selected-color: white;
$hover-background-color: $cell-selected-color;
